


/*atencion clinica*/

.formulario{
    margin-left: 20px;
    
}

.separacionuno{
    margin-top: 10px;

}

.separaciondos{
    margin-top: 10px;

}


/*cursos*/

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat (3,100px);
    column-gap: 10px;
    row-gap: 10px

    
}

.grid-container img{
    height: 100%;
    width: 100%;

}

.grid-container .grid-item{
    
    padding: 5px;

}

.cursos{
    color: rgb(86, 77, 80);
    font-size: x-large;
    font-style: italic;
    margin: 50px;
    
}


.tres{
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 5px;
}

.dos{
    grid-column: 2/3;
    grid-row: 1/3;
}

.uno{
    grid-column:3/4;
    grid-row: 1/3;
}


.consultasc a{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(95, 23, 57);
    font-size:x-large;
    font-style: italic;
    
}

/*contacto*/

.contactos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;

}

.contactos ul {
   list-style: none;
   
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}




















