
.formulario{
    
    display: flex;
    justify-content: center;
    align-items: center;

    .separacionuno{
        margin-top: 10px;
    
    }
    
    .separaciondos{
        margin-top: 10px;
    
    }
    
}