
.contactos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;

    ul{
        list-style: none;
        
     }

}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}